<template name="UsersTableHead">
  <tr>
      <th colspan="2" class="nosort">
          &nbsp;
      </th>
  </tr>
  <tr>
      <th class="nosort column" id="resets-user-column">
          &nbsp;User&nbsp;
      </th>
      <th class="nosort column" id="resets-lifetimeCreatedItems-column">
          &nbsp;Items Created&nbsp;
      </th>
  </tr>
</template>


<template name="UserRow">
  <tr class="draggable {{parity}}"
      id="resets-item-{{username}}">
    <td class="state-published sortabledata-{{username}}">{{username}}</td>
    <td class="state-published sortabledata-{{lifetimeCreatedItems}}">
      {{lifetimeCreatedItems}}
    </td>
  </tr>
</template>


