<template name="contentRow">
    <tr class="draggable {{parity}}" id="folder-contents-item-{{name}}">

      <td class="draggable draggingHook" style="cursor: ns-resize;">⣿
      </td>
      <td class="notDraggable">
        <input type="checkbox" class="noborder" name="paths:list"
               id="cb_{{name}}" value="{{name}}" alt="Select {{title}}"
               title="Select {{title}}" />
        <input type="hidden" name="selected_obj_paths:list" value="{{name}}" />
        <label class="hiddenStructure" for="cb_{{name}}">{{title}}</label>
      </td>
      <td>
          <a href="{{siteroot}}{{name}}"
             class=" state-published contenttype-{{typename}}"
             title="{{type}}: {{description}}">
            {{#if defaultview}}
                <strong>{{title}}</strong>
                <span class="defaultView" title="Default view for this folder"
                      style="color: #f00;">
                  &#x25a0;
                </span>
            {{/if}}
            {{#unless defaultview}}
                {{title}}
            {{/unless}}
          </a>
      </td>
      <td>
        <span class="state-published">{{size}}</span>
      </td>
      <td class="state-published sortabledata-{{dateTimeClass modified}}">
        {{dateTimeText modified}}
      </td>
      <td>
        <span class="state-published">Published</span>
      </td>
      <td class="state-published sortabledata-{{currentUser}}">
        {{author}}
      </td>
    </tr>

</template>


<template name="actionMenuContent">
  <ul>
    {{#each contentTypes}}
        {{> addItem}}
    {{/each}}
  </ul>
</template>


<template name="addItem">
  <li>
    <a href="{{siteroot}}createObject?type_name={{type}}"
       class="contenttype-{{name}}" id="{{name}}" title="{{description}}">
        <span class="subMenuTitle">{{title}}</span>
    </a>
  </li>
</template>


<template name="SiteStats">
  <dl class="actionMenu {{activeState}}" id="portal-sitetools">

    <dt class="actionMenuHeader">
      <a id="published-items" href="{{siteroot}}sitestats">
        {{getPublishedCount 'contentcount'}}/{{max_items}} &ndash; More Stats
      </a>
    </dt>
    <dd class="actionMenuContent">
      <ul>
          <li id="sitetools-userscount">
            <a href="{{siteroot}}users">
              {{usersCount}} registered users
            </a>
          </li>
          {{#if currentUser}}
          <li id="sitetools-useritemscount">
            <a href="{{siteroot}}personalitems">
              {{getPublishedCount 'owncontentcount'}}/
              {{lifetimeCreatedItems}} items you created
            </a>
          </li>
          {{/if}}
          <li id="sitetools-resets">
            <a href="{{pathFor 'resets'}}">
              {{resets}} database resets
            </a>
          </li>
          <li id="sitetools-connections">
            <a href="{{pathFor 'connections'}}">
              {{connections}} simultaneous connections
            </a>
          </li>
      </ul>
    </dd>

  </dl>
</template>


<template name="ListingTable">
  <div id="content">
      <div id="viewlet-above-content-title"></div>
      <h1 class="documentFirstHeading"> 
        {{Title}}
      </h1>
      <div id="viewlet-below-content-title">
      </div>
      <div id="viewlet-above-content-body"></div>
      <div id="content-core">
          <div id="folderlisting-main-table">
              {{> listingBar}}
              <table class="listing" id="listing-table" summary="Content listing">
                  {{> yield "tablehead"}}
                  <tbody>
                    {{> yield}}
                  </tbody>
              </table>
              {{> listingBar}}
          </div>
      </div>
      <div id="viewlet-below-content-body">
          <div class="visualClear">
              <!-- -->
          </div>
          <div class="documentActions">
          </div>
      </div>
  </div>
</template>


<template name="TableContents">
  {{#each items}}
      {{> ../RowTemplate}}
  {{/each}}

  {{> contentFor region="tablehead" template=TableHeadTemplate}}
</template>


<template name="ResetsTableHead">
  <thead>
      <tr>
          <th colspan="2" class="nosort">
              &nbsp;
          </th>
      </tr>
      <tr>
          <th class="nosort column" id="resets-datetime-column">
              &nbsp;Date&nbsp;&amp;&nbsp;Time&nbsp;
          </th>
          <th class="nosort column" id="resets-user-column">
              &nbsp;User&nbsp;
          </th>
      </tr>
  </thead>
</template>


<template name="ConnectionsTableHead">
  <thead>
      <tr>
          <th colspan="3" class="nosort">&nbsp;</th>
      </tr>
      <tr>
          <th class="nosort column"
              id="resets-datetime-column">
            &nbsp;Date&nbsp;&amp;&nbsp;Time&nbsp;
          </th>
          <th class="nosort column"
              id="resets-user-column">
            &nbsp;IP&nbsp;address&nbsp;
          </th>
          <th class="nosort column"
              id="resets-simultaneous-column">
            &nbsp;Simultaneous connections&nbsp;
          </th>
      </tr>
  </thead>
</template>


<template name="listingBar">
  <!-- Navigation -->
  <div class="listingBar">
    {{#if nextPath}}
      <span class="next">
          <a href="{{nextPath}}">
            Next {{batchIncrement}} items &raquo;
          </a>
      </span>
    {{else}}
      {{#unless ready}}
        {{>spinner}}
      {{/unless}}
    {{/if}}

      <!-- Current page -->

    <span class="nowShowing">Now showing first {{batchSize}} items</span>
  </div>
</template>


<template name="resetRow">
    <tr class="draggable {{parity}}"
        id="resets-item-{{dateTimeClass datetime}}">
      <td class="state-published sortabledata-{{dateTimeClass datetime}}">
        {{dateTimeText datetime}}
      </td>
      <td class="state-published sortabledata-{{author}}">{{author}}</td>
    </tr>
</template>


<template name="connectionRow">
    <tr class="draggable {{parity}}"
        id="connections-item-{{dateTimeClass datetime}}">
      <td class="state-published sortabledata-{{dateTimeClass datetime}}">
        {{dateTimeText datetime}}
      </td>
      <td class="state-published sortabledata-{{ip}}">{{ip}}</td>
      <td class="state-published sortabledata-{{count}}">{{count}}</td>
    </tr>
</template>
