<template name='PloneContentmenuActions'>
  <dl class="actionMenu {{activeState}}" id="plone-contentmenu-actions">
    <dt class="actionMenuHeader label-">
      <a href="{{siteRoot}}/folder_contents" title="Actions for the current content item">

            <span>Actions</span>

            <span class="arrowDownAlternative">&#9660;</span>

      </a>
    </dt>
    <dd class="actionMenuContent">
      <ul>

            <li>
              <a href="{{pathFor route='contentItem' data=getData}}/object_cut" class="actionicon-object_buttons-cut" id="plone-contentmenu-actions-cut" title="">

                  <span class="subMenuTitle">Cut</span>
              </a>

            </li>


            <li>
              <a href="{{pathFor route='contentItem' data=getData}}/object_copy" class="actionicon-object_buttons-copy" id="plone-contentmenu-actions-copy" title="">

                  <span class="subMenuTitle">Copy</span>
              </a>

            </li>


            <li>
              <a href="{{pathFor route='contentItem' data=getData}}/delete_confirmation" class="actionicon-object_buttons-delete" id="plone-contentmenu-actions-delete" title="">

                  <span class="subMenuTitle">Delete</span>
              </a>

            </li>


            <li>
              <a href="{{pathFor route='contentItem' data=getData}}/object_rename" class="actionicon-object_buttons-rename" id="plone-contentmenu-actions-rename" title="">

                  <span class="subMenuTitle">Rename</span>
              </a>

            </li>

      </ul>
    </dd>
  </dl>
</template>
