<template name="AddContentMenu">
  <dl class="actionMenu {{activeState}}" id="plone-contentmenu-factories">
      <dt class="actionMenuHeader label-">
          <a href="{{siteroot}}folder_factories" title="Add new items inside this item">
              <span>Add new…</span>
              <span class="arrowDownAlternative">&#9660;</span>
          </a>
      </dt>
      <dd class="actionMenuContent">
        <ul>
          {{#each contentTypes}}
              {{> AddItem}}
          {{/each}}
        </ul>
      </dd>
  </dl>
</template>


<template name="AddItem">
  <li>
    <a href="{{siteroot}}createObject?type_name={{type}}"
       class="contenttype-{{name}}" id="{{name}}" title="{{description}}">
        <span class="subMenuTitle">{{title}}</span>
    </a>
  </li>
</template>


