<template name="Footer">
    <div id="portal-footer-wrapper" class="row">
        <div class="cell width-full position-0">
            <div id="portal-footer">
                <p>
                    The
                    <a href="http://plone.org">Plone<sup>&reg;</sup> Open Source CMS/WCM</a> is
                    <abbr title="Copyright">&copy;</abbr>
                    2000-2015 by the
                    <a href="http://plone.org/foundation">Plone Foundation</a> and friends. Distributed under the
                    <a href="http://creativecommons.org/licenses/GPL/2.0/">GNU GPL license</a>.
                </p>
            </div>
            <div id="portal-colophon">
                <div class="colophonWrapper">
                    <ul>
                        <li>
                            <a href="http://plone.org" title="This site was built using the Plone Open Source CMS/WCM.">
                              Powered by Plone &amp; Python
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul id="portal-siteactions">
                <li id="siteaction-sitemap"><a href="{{siteRoot}}sitemap" accesskey="3" title="Site Map">Site Map</a></li>
                <li id="siteaction-accessibility"><a href="{{siteRoot}}accessibility-info" accesskey="0" title="Accessibility">Accessibility</a></li>
                <li id="siteaction-contact"><a href="{{siteRoot}}contact-info" accesskey="9" title="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</template>
