<template name="GlobalNav">
    <p class="hiddenStructure">Navigation</p>

    <ul id="portal-globalnav">
        {{> MenuItem title="Home" name="index_html" class="selected" href="/"}}

        {{#each navItems}}
            {{#unless defaultview}}
                {{> MenuItem}}
            {{/unless}}
        {{/each}}
    </ul>

</template>


<template name="MenuItem">
    <li id="portaltab-{{name}}" class="{{class}}">
      <a href="{{href}}" title="{{title}}">{{title}}</a>
    </li>
</template>


