<template name="ListingTable">
  <div class="{{#if showBorder}}documentEditable{{/if}}">
      {{#if showBorder}}
      <div id="edit-bar">
          <p class="hiddenStructure">Views</p>
          <ul class="contentViews" id="content-views">
              {{#if displayContentsTab}}
              <li id="contentview-folderContents" {{tabClass 'contents'}}>
                  <a href="{{pathFor 'contentItemsList'}}">Contents</a>
              </li>
              {{/if}}
              <li id="contentview-view" {{tabClass 'view'}}>
                  <a href="{{pathFor route='contentItem' data=getData}}">View</a>
              </li>
              <li id="contentview-edit" {{tabClass 'edit'}}>
                  <a href="{{pathFor route='contentItem' data=getData}}/edit">Edit</a>
              </li>
              <li id="contentview-local_roles" {{tabClass 'sharing'}}>
                  <a href="{{pathFor route='contentItem' data=getData}}@@sharing">Sharing</a>
              </li>
              {{#if displayContentsTab}}
              <li id="contentview-owncontent" {{tabClass 'owncontents'}}>
                  <a href="{{pathFor 'ownContentItemsList'}}">Your Contents</a>
              </li>
              {{/if}}
          </ul>
          <div class="contentActions">
              <ul id="contentActionMenus">
                <li>
                  {{> PloneContentmenuWorkflow}}
                </li>
                {{#if displayContentsTab}}
                  <li>
                  {{> AddContentMenu}}
                  </li>
                {{/if}}
                <li>
                  {{> PloneContentmenuActions}}
                </li>
              </ul>
          </div>
      </div>
      {{/if}}
      <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
          <dt>Info</dt>
          <dd></dd>
      </dl>
      <div id="content">
          <div id="viewlet-above-content-title"></div>
          <h1 class="documentFirstHeading">
            {{Title}}
          </h1>
          <div id="viewlet-below-content-title">
              <div class="documentByLine" id="plone-document-byline">
                  <span class="documentModified">
                      <span>
                          last modified
                      </span> Apr 10, 2015 12:15 PM
                  </span>
                  <span class="contentHistory" id="content-history">
                  —
                      <a href="{{siteRoot}}@@historyview">History</a>
                  </span>
              </div>
          </div>
          <div id="viewlet-above-content-body"></div>
          <div id="content-core">
            {{> DynamicTemplate template=ContentCoreTemplate}}
          </div>
          <div id="viewlet-below-content-body">
              <div class="visualClear">
                  <!-- -->
              </div>
              <div class="documentActions">
              </div>
          </div>
      </div>
  </div>
</template>

<template name="TableContents">
  {{#each items}}
      {{> ../RowTemplate}}
  {{/each}}

  {{> contentFor region="tablehead" template=TableHeadTemplate}}
</template>

