<template name="ListingBar">
{{!--
      This template requires the data context to provide the following:
      - nextPath
      - batchIncrement
      - batchSize
      - ready
--}}

  <!-- Navigation -->
  <div class="listingBar">
    {{#if nextPath}}
      <span class="next">
          <a href="{{nextPath}}">
            Next {{pluralize batchIncrement "item"}} &raquo;
          </a>
      </span>
    {{else}}
      {{#unless ready}}
        {{>spinner}}
      {{/unless}}
    {{/if}}

      <!-- Current page -->

    <span class="nowShowing">
      Now showing first {{pluralize batchSize "item"}}
    </span>
  </div>
</template>
