<template name="Messages">
    <div class="errors">
        {{#each errors}}
            {{> MessageBox}}
        {{/each}}
        {{#each notifications}}
            {{> MessageBox}}
        {{/each}}
    </div>
</template>

<template name="MessageBox">
{{!--
      Available CSS classes:
      - danger
      - warning
      - info
      - success
      - primary
      - default
--}}
    <div class="alert alert-{{class}}" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        {{message}}
    </div>
</template>

