<template name="SiteStats">
  <dl class="actionMenu {{activeState}}" id="portal-sitetools">

    <dt class="actionMenuHeader">
      <a id="published-items" href="{{siteRoot}}sitestats">
        {{getPublishedCount 'contentcount'}}/{{max_items}} &ndash; Stats
      </a>
    </dt>
    <dd class="actionMenuContent">
      <ul>
          {{#if currentUser}}
          <li id="sitetools-userscount">
            <a href="{{pathFor 'users'}}">
              {{pluralize usersCount "registered user"}}
            </a>
          </li>
          <li id="sitetools-useritemscount">
            <a href="{{pathFor 'ownContentItemsList'}}">
              {{getPublishedCount 'owncontentcount'}}/
              {{pluralize lifetimeCreatedItems "item"}} you created
            </a>
          </li>
          {{/if}}
          <li id="sitetools-resets">
            <a href="{{pathFor 'resets'}}">
              {{pluralize resets "database reset"}}
            </a>
          </li>
          <li id="sitetools-connections">
            <a href="{{pathFor 'connections'}}">
              {{pluralize connections "simultaneous connection"}}
            </a>
          </li>
          {{#if isAdmin}}
            {{#if loginsEnabled}}
            <li id="sitetools-enableLogins">
              <a href="{{siteRoot}}">
                Enable Logins
              </a>
            </li>
            {{else}}
            <li id="sitetools-kill">
              <a href="{{siteRoot}}">
                Log out all users!
              </a>
            </li>
            {{/if}}
          {{/if}}
      </ul>
    </dd>

  </dl>
</template>
