<template name="ViewletBelowContentTitle">
  <div id="viewlet-below-content-title">
      <div class="documentByLine" id="plone-document-byline">
          <span class="documentModified">
              <span>
                  last modified
              </span> Apr 10, 2015 12:15 PM
          </span>
          <span class="contentHistory" id="content-history">
          —
              <a href="{{siteRoot}}@@historyview">History</a>
          </span>
      </div>
  </div>
</template>

<template name="EmptyViewletBelowContentTitle">
  <div id="viewlet-below-content-title">
    FOOBAR
  </div>
</template>
